<?xml version="1.0" encoding="UTF-8"?>
<web-app
    version="4.0"
    xmlns="http://xmlns.jcp.org/xml/ns/javaee"
    xmlns:javaee="http://xmlns.jcp.org/xml/ns/javaee"
    xmlns:xml="http://www.w3.org/XML/1998/namespace"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
  <display-name>Archetype Created Web Application</display-name>

	<servlet>
			<servlet-name>register</servlet-name>
			<servlet-class>com.ibm.jdbc_servlet_crud_operation.prepared_statement.client.controller.InsertStudentClientController</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>register</servlet-name>
		<url-pattern>/registerStudent</url-pattern>
	</servlet-mapping>
	
	<servlet>
			<servlet-name>login</servlet-name>
			<servlet-class>com.ibm.jdbc_servlet_crud_operation.prepared_statement.client.controller.LoginStudentClientController</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>login</servlet-name>
		<url-pattern>/loginStudent</url-pattern>
	</servlet-mapping>

</web-app>
